*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace
}
.header{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    background: linear-gradient(90deg, #09225e 0%, rgb(0, 1, 2) 100%);;
    .portrait{
        width:auto;
        height: 321px;
        border-radius: 10px;
    }
    .whoAmI{
        
        margin-top: 10vh;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        p{
            font-size: 20px;
        }
    }
}