 
$base: #343434;
*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
   
}
 
body{
    background-color:#343434;
    width: 100%;
    height: 100%;
     
}
header{
    
    box-shadow: 0px 5px 5px white;
   
    position: sticky;
    top: 0;
    background-color: #13274F;
    z-index: 1;
    display: flex;
    justify-content: space-between;
     svg{
        margin-left: 10px;
        margin-top: 5px;
     }
    button{
        background-color: #13274F;
        border: none;
        margin-top: 5px;
        cursor: pointer;
    }
    .name{ 
        font-size: 1em;
            margin-left: 15vw;
           color: white;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    .name:hover{
        color: #FFD700;
    }
}
.header{
    display: flex;
    padding: 25px;
    justify-content: space-around;
   
    .portrait{
    
       margin: 5px;
        width:auto;
        height: 321px;
        border-radius: 10px;
    }
    .whoAmI{
        margin-top: 5vh;
    
        font-family: 'Courier New', Courier, monospace;
        color: white;
        p{
            font-size: 20px;
            line-height: 25px;
            
        }
    }
}
.skills{
    background-color: white;
    display: flex;
    flex-direction: column;
     
    box-shadow: 0px 15px 15px black;
    h2{
        margin-left: 43%;
    }

    .wrap{
        margin-left: 3vw;
        background-color: white;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
         
    
        
    }
    .card{
        display: flex;
        flex-direction: column;
        img{
         
            padding: 2px;
            
            
            background-color: white;
            width: 3vw;
            height: 6vh;
        }
         
    }
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    .projectCard{
       
        padding: 50px;
        display: flex;
        
        .links{
            img{
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                width: 20vw;
    
            }
            .btns{
                button{
                    cursor: pointer;
                    margin: 1vh;
                    background-color: #FFBF00;
                    border: #FFBF00 1px solid;
                    width: 9vw;
                    height:5vh;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: bold;
                }
                button:hover{
                    background-color: $base;
                    color: white;
                }
                display: flex;
                
                align-items: center;
            }
        }
        .description{
        h2{
            color: white;
            margin-left: 5vw;
        }
        p{
             
            color: white;
            font-size: 18px;
            margin-left: 5vw;
            margin-top: 2vh;
        }
    }
    }
}
.side{
    display: flex;
    justify-content: flex-end;
    
  
   
.sideBar{
    width: 25vw;
  
    height: 100%;
    background-color: 	#36454F;
    position: absolute;
   display: none;
   z-index: auto;
   .remove{
    background-color: 	#36454F;
    border: none;
    align-self: flex-end;
    cursor: pointer;
}
.btnDiv{
    display: flex;
     
    .btn{
        cursor: pointer;
        margin-top: 15px;
        align-self: flex-start;
        border: none;
        background-color: 	#36454F;
        font-size: 20px;
        color: white;
    }
    .btn:hover{
        color:  #FFBF00;
    }
}

  
}
#active{
    animation: openSide 1s;
    display: flex;
    flex-direction: column;
    position: fixed;
   z-index: 2;
    transform-origin: center right;
  
    
}  
#deActive{
    animation: closeSide 1s;
    transform-origin: center right;
}
}

main{
   
#animate{
    animation: slideDown .5s;
    transform-origin: top;
    display: block;
}
#reverse{
    transform-origin: top;
    animation: slideUp .5s;
    
}
    
.bio{
    z-index: 5;
    height: 900px;
    z-index: 1;
    display: flex;
   button{
    cursor: pointer;
   }
   button:hover{
    color: white;
   }
    
    .myStory{
        button{
            font-size: 1.5em;
            font-weight: bold;
            text-align: left;
             margin-bottom: 2vh;
            border: none;
            background-color: #F4BB44;
        }
        height: auto;
        border-bottom: none;
        border: solid 5px #13274F;
        border-bottom: none;
       
        
       padding:2vh 3vw;
       
        font-size: 18px;
        color: black;
        width: 33%;
        .sumDiv{
            display: none;
        }

    }
    .bookList{
         
        height: auto;
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 25px;
        border: 5px solid #13274F;
        border-right: none;
        border-bottom: none;
        border-left: none;
        button{
            border: none;
            font-size: 1.5em;
            font-weight: bold;
            text-align: left;
             margin-bottom: 2vh;
           width: 10vw;
            background-color: #F4BB44;
        }
        .bookDiv{
            
            display: none;
            .bookDescription{
                left: 25%;
                 z-index: 3;
                border: solid 1px #13274F;
                display: none;
                position: absolute;
                width: 18vw;
                height: auto;
                
                padding: 2vw 2vh;     
                background-color: #343434;
                border-radius: 10px;
            }
            li{
             
                margin-bottom: 2vh;
                font-size: 18px;
                font-weight: bold;
                width: 15vw;
            }
            ol{
            li:hover{
                color: white;
                cursor: pointer;
            }
            }
        }
        
    }
   .hobbies{
    border-top: #13274F 5px solid;
    
    button{
       
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
         margin-bottom: 2vh;
        border: none;
        background-color: #F4BB44;
    }
     
    height: auto;
    padding:2vh 3vw;
    width: 33%;
     
    .hobbyDiv{
         display: none;
    .list{
        li{
            font-size: 18px;
        p{
            border: none;
           
           width: 15vw;
        }
    }
    }
}
   }
}
.quote{
  margin-left: 30vw;
  margin-top: 2vh;
}
.familyAlbum{
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #13274F;
    color:white;
    text-align: center;
}
.sliderWrap{
   overflow: hidden;
.imgSlider{
    width: 100000vw;
     
    background-color: #13274F; /* Chrome 10-25, Safari 5.1-6 */
    display: flex;
    transition: transform 1s ease-in;
    transform: translateX(0);
    img{
        margin-left: 5vw;
        margin-bottom: 5vh;
        height: 25vh;
        width: auto;
        border-radius: 50px;
    }
}
}
.explain{
   margin: 5vh 5vw;
    h2{
        text-align: center;
    }
    p{
        line-height: 25px;
    }
}
}

@keyframes openSide {
    from{
      transform: scaleX(0);
    }
     70%{
       transform: scaleX(1.1);
     }
     to{
        transform: scaleX(1);
     }
}
@keyframes closeSide{
    from{
        transform: scaleX(1);
        display: block;
    }
    to{
        transform: scaleX(0);
        display: none;
    }
}
@keyframes slideDown{
    from{
        transform: scaleY(0);
      
    }

    to{
        transform: scaleX(1);
        
    }
}
@keyframes slideUp{
    from{
        transform: scaleY(1);
        display: block;
    }

    to{
        transform: scaleY(0);
        display: none;
    }
}
 @media (max-width: 1000px){
    .skills{
        .wrap{
            .card{
         img{
             width: 6vw;
             height: 6vh;
        }
    }
}
}
.projects{
    .projectCard{
        
        flex-direction: column;
        .links{
            margin-left: 8px;
            img{
                margin-left: 2vw;
                width: 30vw;
            }
        
        .btns{
            button{
                width: 10vw;
            }
        }
    }
    .description{
        
        margin-right: 5vw;
    }
}
}
main{ 
     
.bio{
    .myStory{
        .sumDiv{
            P{
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
    .bookList{
        .bookDiv{
            .bookDescription{
                width: 45vw;
            }
            li{
                font-size: 15px;
            }
        }
      
    }
    .hobbies{

   .hobbyDiv{
    .list{
        font-weight: bold;
        li{
            font-size: 15px;
        }
        p{
            font-size: 13px;
        }
    }
   }
}
}
.imgSlider{
    img{
        height: 15vh;
    }
}
}
 }
@media (max-width: 700px){
   
    header{
        width: 100%;
    }
    .header{
        width: 100%;
         
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
         justify-content: center;
         align-items: center;
        .portrait{
            margin-top: 5vh;
            height: 160px;
            
        }
        h2{
            
            font-size: 24px;
        }
        p{
          
            font-size: 10px;
            line-height: 12px;
        }
    }
    .skills{
      
       width: 100%;
        
    .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-content: space-around;

        .card{
             
            
            img{
            width: 40px;
            height: 40px;
        }
    }
}
        h2{
            display: none;
        }
    }
    .projects{
        grid-template-columns: 1fr;
        
        .projectCard{
            flex-direction: column;
            .links{
                
                img{
                   width: 250px;
                   margin-left: 15vw;
                   height: auto;
                }
                .btns{
                    
                button{
                    width: 40vw;
                    height: 40px;
                    
                    font-weight: normal;
                }
                }
            }
            .description{
                h2{
                    margin-left: 20vw;
                    color:  #FFBF00;
                }
            }
             
           padding: 25px;     
              
            
        }
        
      
            .description{
                margin-left: 20px;
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 10px;
                }
            }
         
    }
    .side{
        .sideBar{
            width: 80%;
        }
        #active{
            animation: none;
        }
    }


//ABOUT ME CSS
header{
    width: 100%;
}
main{
    @keyframes slideUp{
        from{
            transform: scaleY(1);
            display: block;
        }
    
        to{
            transform: scaleY(0);
            
        }
    }
    display: flex;
    flex-direction: column;
    
    
    .quote{
       margin-left: 10vw;
    }
#animate{
    animation: none;
    display: block;
}
#reverse{
    animation: none;
    display: block;
}
.bio{
    min-height: 251vh;
    flex-direction: column;
    pointer-events: none;
    .bookList{
        width: 100%;
        border-bottom: #13274F 5px solid;
        border-top:#13274F 5px solid;
        .bookDiv{
          
            width: 100%;
           
            display: block;
            li{
                pointer-events: none;
                width: 100%;
            .bookDescription{
                width: 80%;
                background-color:#F4BB44;
                border: none;
                font-size: 10px;
                position: relative;
                display: block;
              
            }
        }
           
        }
    }
        .hobbies{
           margin-bottom: 50vh;
            width: 100%;
            border-top: #13274F 5px solid;
            border-bottom:#13274F 5px solid;
            
            .hobbyDiv{
                display: block;
                 
                .list{
                    li{
                        font-weight: bold;
                        margin-bottom: 5vh;
                        width: 100%;
                    p{
                        width: 80%;
                    }
                }
            }

            }
        }
        .myStory{
            padding: 50px;
            button{
                border: none;
            }
            width: 100%;
            border: none;
            .sumDiv{
                display: block;
            }
        }
      
    
}
.imgSlider{
    img{
        height: 25vh;
         
    }
}
}


}
@media (max-width:425px){
     
    header{
     z-index: 1;
        margin: 0;
        width: 100%;
        .bosnianWar{
            display: none;
        }
        h2{
            font-size: 15px;
        }
    }
    main{
       
        .bio{
            .bookList{
                .bookDiv{
                    .bookDescription{
                        z-index: auto;
                    }
                }
            }
            z-index: auto;
             padding: 0;
            margin: 0;
            margin-bottom: 50vh;
           
        }
        .sliderWrap{
    .imgSlider{
        z-index: auto;
        img{
            height: 20vh;
        }
    }
}
}
.side{
    z-index: 10;
.sideBar{
   z-index: 2;
}
}
    }

