 
$base: #343434;
*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
   
}
 
body{
    background-color:#343434;
}
header{
    h2{
        margin-top: 25px;
       color: white;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    position: sticky;
    top: 0;
    background-color: #13274F;
    z-index: 1;
    display: flex;
    justify-content: space-between;
     svg{
        margin-left: 10px;
        margin-top: 5px;
     }
    button{
        background-color: #13274F;
        border: none;
        margin-top: 5px;
        cursor: pointer;
    }
}
.header{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    
   
    .portrait{
        width:auto;
        height: 321px;
        border-radius: 10px;
    }
    .whoAmI{
        margin-top: 5vh;
    
        font-family: 'Courier New', Courier, monospace;
        color: white;
        p{
            font-size: 20px;
            line-height: 25px;
        }
    }
}
#skills{
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 15px black;
    h2{
        margin-left: 43%;
    }
    img{
         
        padding: 2px;
        
        
        background-color: white;
        width: 6vw;
        height: 3vh;
    }
    .wrap{
        background-color: white;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }
    .card{
      
        p{
            text-align: center;
        }
    }
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    .projectCard{
        padding: 50px;
        display: flex;
        
        .links{
            img{
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                width: 20vw;
    
            }
            .btns{
                button{
                    cursor: pointer;
                    margin: 1vh 1vw;
                    background-color: #FFBF00;
                    border: #FFBF00 1px solid;
                    width: 8vw;
                    height:4vh;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: bold;
                }
                button:hover{
                    background-color: $base;
                    color: white;
                }
                display: flex;
                
                align-items: center;
            }
        }
        .description{
        h2{
            color: white;
            margin-left: 5vw;
        }
        p{
            color: white;
            font-size: 18px;
            margin-left: 5vw;
            margin-top: 2vh;
        }
    }
    }
}
.side{
    display: flex;
    justify-content: flex-end;
   
.sideBar{
    width: 25vw;
    height:100%;
    background-color: 	#36454F;
    position: absolute;
   display: none;
   z-index: auto;
   .remove{
    background-color: 	#36454F;
    border: none;
    align-self: flex-end;
    cursor: pointer;
}
  
}
#active{
    animation: openSide 1s;
    display: flex;
    flex-direction: column;
   z-index: 2;
    transform-origin: center right;
}  
}

@keyframes openSide {
    from{
      transform: scaleX(0);
    }
     70%{
       transform: scaleX(1.1);
     }
     to{
        transform: scaleX(1);
     }
}

@media (max-width: 350px){
    .header{
        padding: 5px;
        justify-content: center;
        .portrait{
            height: 80px;
            
        }
        h2{
            font-size: 16px;
        }
        p{
            font-size: 10px;
            line-height: 12px;
        }
    }
    #skills{
        flex-wrap: wrap;
        img{
            width: 1vw;
            height: 2vh;
        }
        h2{
            display: none;
        }
    }
    .projects{
        .projectCard{
            padding: 25px;
        }
        .links{
            img{
                width: 5vw;
            }
        }
        .btns{
            button{
                font-size: 8px;
                width: 4vw;
                height: 2vh;
            }
            .description{
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .side{
        .sideBar{
            width: 100%;
        }
        #active{
            animation: none;
        }
    }
}